<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:ital,wght@0,200;0,700;1,200&display=swap"
    rel="stylesheet">
    <link rel="icon" type="image/jpg" href="/media/logo-canilla.jpg">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">
  <meta name="description" content="Descubre la mas amplia variedad de productos de sanitarios y gas">
  <meta name="keywords" content="TERMOTANQUE, REPUESTOS, BOMBAS, CAÑERIA, TANQUES">
  
  <title>Productos</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html"><img class="navbar-brand__imagen" src="/media/de-todo-logo.png"
        alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/index.html">INICIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            PRODUCTOS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="../clase-producto/sanitarios.html">Sanitarios</a></li>
            <li><a class="dropdown-item" href="../clase-producto/gas.html">Gas</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/quienes-somos.html">QUIENES SOMOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/contacto.html">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/iniciar-sesion.html">INICIAR SESION</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="menu-productos">
  <div class="collapse" id="navbarToggleExternalContent">
        <div class="productos__side2">
          <nav class="productos__side--links">
            <ul>
              <li><a href="griferia.html">Griferia</a></li>
              <li><a href="inodoros.html">Inodoros</a></li>
              <li><a href="repuestos.html">Repuestos</a></li>
              <li><a href="tanques.html">Tanques de agua</a></li>
              <li><a href="bidets.html">Bidets</a></li>
              <li><a href="bombas.html">Bombas de agua</a></li>
            </ul>
          </nav>
        </div>
  </div>
  <nav class="navbar navbar-dark">
    <div class="container-fluid desplegable">
      <button class="navbar-toggler collapsed" style="background-color: #008dd4;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="bi bi-expand">
          <i class="fas fa-angle-double-down"></i>
        </span>
        <span class="bi bi-collapse">
          <i class="fas fa-angle-double-up"></i>
        </span>
      </button>
    </div>
  </nav>
</div>


<div class="productos">
  <div class="productos__side">
    <nav class="productos__side--links">
      <ul>
        <li><a href="griferia.html">Griferia</a></li>
        <li><a href="inodoros.html">Inodoros</a></li>
        <li><a href="repuestos.html">Repuestos</a></li>
        <li><a href="tanques.html">Tanques de agua</a></li>
        <li><a href="bidets.html">Bidets</a></li>
        <li><a href="bombas.html">Bombas de agua</a></li>
        
      </ul>
    </nav>
  </div>
  <div class="container">
    <span class="titulo-productos">
      <h2>Griferia</h2>
    </span>
    <div class="row">
      <div class="col-md-4">
        <div class="producto">
          <img src="/media/griferia/libby.jpg" alt="canilla" class="producto__imagen">
          <div class="informacion">
            <span class="precio">$6590</span>
            <span class="descripcion">Libby - Juego para lavatorio FV</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="producto">
          <img src="/media/griferia/denisse.jpg" alt="denisse" class="producto__imagen">
          <div class="informacion">
            <span class="precio">$4560</span>
            <span class="descripcion">Denisse - Juego para lavatorio FV</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="producto">
          <img src="/media/griferia/dominic.jpg" alt="dominic" class="producto__imagen">
          <div class="informacion">
            <span class="precio">$22800</span>
            <span class="descripcion">Dominic - Juego para lavatorio FV</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="producto">
          <img src="/media/griferia/unimix.jpg" alt="unimix" class="producto__imagen">
          <div class="informacion">
            <span class="precio">$18500</span>
            <span class="descripcion">Unimix - Juego monocomando para mesada de cocina FV</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="producto">
          <img src="/media/griferia/libby-monocomando.jpg" alt="libby-monocomando" class="producto__imagen">
          <div class="informacion">
            <span class="precio">$6590</span>
            <span class="descripcion">Libby - Juego monocomando para pared de cocina FV</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="producto">
          <img src="/media/griferia/malena.jpg" alt="malena" class="producto__imagen">
          <div class="informacion">
            <span class="precio">$4560</span>
            <span class="descripcion">Malena – Juego para cocina / lavadero para embutir FV</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="pie">
    <div class="sec nosotros">
      <h2>Sobre Nosotros</h2>
      <p>Contamos con un amplio catálogo de productos a excelentes precios. Por cualquier duda, dejanos tu consulta y te responderemos a la brevedad.</p>
            <ul class="sci">
      <li><a href="https://www.facebook.com/detodomartinez"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="sec atajos">
      <h2>Links Principales</h2>
      <ul>
        <li><a href="/views/quienes-somos.html">Quienes Somos</a></li>
        <li><a href="/views/iniciar-sesion.html">Iniciar Sesion</a></li>
        <li><a href="/views/contacto.html">Contacto</a></li>
        <li><a href="../clase-producto/sanitarios.html">Sanitarios</a></li>
        <li><a href="../clase-producto/gas.html">Gas</a></li>
      </ul>
    </div>
    <div class="sec contacto">
      <h2>Contactanos</h2>
      <ul class="info">
        <li>
          <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
          <span>Av. Santa Fe 1367<br> 
            Martinez, San Isidro</span>
        </li>
        <li>
          <span><i class="fa fa-phone" aria-hidden="true"></i></span>
          <p><a href="tel:01147924332">4792-4332</a></p>
        </li>
        <li>
          <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
          <p><a href="https://api.whatsapp.com/send?phone=541150137513&fbclid=IwAR1_K2XEi2G7ZiDxPkwuOYQwaoWmud0bCV18gO5dET-lESyYInP3WSPyxZw">1550137513</a></p>
        </li>
        <li>
        <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
        <p><a href="mailto:serviciosdetodo@hotmail.com">serviciosdetodo@hotmail.com</a></p>
      </li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyright">
  <p>Copyright © 2021 DE TODO Sanitarios y Gas</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>

</html>
