<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:ital,wght@0,200;0,700;1,200&display=swap"
    rel="stylesheet">
    <link rel="icon" type="image/jpg" href="../media/logo-canilla.jpg">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../styles/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles/main.css">

  <meta name="description" content="SERVICIOS DE TODO SRL es un comercio de Sanitarios con más de 35 años en el rubro">
  <meta name="keywords" content="MARTINEZ, FERRETERIA, SANITARIOS">

  <title>Quienes Somos</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html"><img class="navbar-brand__imagen" src="../media/de-todo-logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="../index.html">INICIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="productos.html" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            PRODUCTOS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="productos.html">Sanitarios</a></li>
            <li><a class="dropdown-item" href="productos.html">Gas</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="quienes-somos.html">QUIENES SOMOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto.html">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="iniciar-sesion.html">INICIAR SESION</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div class="quienes-somos">
    <div class="quienes-somos__texto">
      <p class="quienes-somos__texto--p">SERVICIOS DE TODO SRL es un comercio de Sanitarios con más de 35 años en el rubro. Se encuentra ubicado en Av.
        Santa Fe 1367, Martinez, San Isidro, Buenos Aires. Comercializamos todo lo relativo a instalaciones de gas,
        agua, desagües, calefacción, riego por aspersión, piscinas, termotanques, bombas, calefactores, tanques de
        agua, griferia, loza, etc. Y además con sus respectivos repuestos.</p>
    </div>
    <div class="quienes-somos__imagen">
      <img class="quienes-somos__imagen--img" src="../media/frente-local.jpg" alt="">
    </div>
  </div>

  <footer>
    <div class="pie">
      <div class="sec nosotros">
        <h2>Sobre Nosotros</h2>
        <p>SERVICIOS DE TODO SRL es un comercio de Sanitario con más de 35 años en el rubro. 
          Se encuentra ubicado en Av. Santa Fe 1367, Martinez, San Isidro, Buenos Aires. Comercializamos todo lo relativo a instalaciones de gas, agua, desagües, calefacción, riego por aspersión, piscinas, termotanques, bombas, calefactores, tanques de agua, griferia, loza, etc. Y además con sus respectivos repuestos.</p>
              <ul class="sci">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      </ul>
      </div>
      <div class="sec atajos">
        <h2>Links Principales</h2>
        <ul>
          <li><a href="quienes-somos.html">Quienes Somos</a></li>
          <li><a href="iniciar-sesion.html">Iniciar Sesion</a></li>
          <li><a href="contacto.html">Contacto</a></li>
          <li><a href="#">Sanitarios</a></li>
          <li><a href="#">Gas</a></li>
        </ul>
      </div>
      <div class="sec contacto">
        <h2>Contactanos</h2>
        <ul class="info">
          <li>
            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <span>Av. Santa Fe 1367<br> 
              Martinez, San Isidro</span>
          </li>
          <li>
            <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
            <p><a href="tel:1123889271">1123889271</a></p>
          </li>
          <li>
          <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <p><a href="mailto:serviciosdetodo@hotmail.com">serviciosdetodo@hotmail.com</a></p>
        </li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="copyright">
    <p>Copyright © 2021 DE TODO Sanitarios y Gas</p>
  </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
crossorigin="anonymous"></script>

</body>

</html>

