@import "./parciales/responsive";
@import "./parciales/quienes-somos";
@import "./parciales/contacto";
@import "./parciales/productos";
@import "./parciales/iniciar-sesion";
@import "./parciales/footer";
@import "./parciales/modal";

body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    background-color: #f0f2f5;
}

.navbar{
    border-bottom: 1px solid #F2F2F2;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
  }
  .navbar-expand-lg .navbar-nav .nav-link{
      @include portatil{
          padding-right: 0.3rem;
          padding-left: 0.2rem;
      }
      @include uhd{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
  }

.container{
    background-color: white;
}

.producto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.3s;
    margin-top: 10px;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, .1);
    .producto__imagen{
        width: 100%;
        height: 320px;
        border-radius: 20px;
    }
}
.producto:hover{
    box-shadow: 0 0 1.5em rgba(0, 0, 0, .3);
    
}

.informacion{
    border-top: 1px solid white;
    padding: 1.5em;
    display: flex;
    flex-flow: column;   
}

.precio{
    font-size: 1.5em;
    color: black;
    font-weight: 600;
}

.descripcion{
    font-size: 0.9em;
    font-weight: 300;
    color: #008dd4;
}

.productos-destacados{
    margin-top: 30px;

    .productos-destacados__des{
        border-bottom: #0D0D0D solid 1px;
        text-align: center;
        padding: 10px;
        color: black;
        font-weight: 600;
    }
   .productos-destacados__des:hover{
        color: grey;
    }
}

.w-75{
    height: 100vh-16.4vh;
}
.maps{
    text-align-last: center;
    margin-bottom: 20px;
}

.navbar-brand{
    @include tablet{
        padding-top: 0px;
        padding-left: 10px;
    }
        .navbar-brand__imagen{
        @include movil{
            width: 200px;
            padding-left: 10px;
        }
        @include portatil{
            width: 280px;
        }
        @include tablet{
            width: 280px;
        }

    }

}

.cart img{
    width: 40px;
    margin-left: 20px;
    margin-right: 15px;
    padding-top: 5px;
    @include movxs{
        margin-right: 0;
        margin-left: 0;

    }
    @include movil{
        margin-bottom: 15px;
        margin-right: 0;
        margin-left: 0;
    }
    @include tablet{
        margin-bottom: 15px;
        margin-right: 0;
        margin-left: 0;
    }
}
.cart img:hover{
    transform: scale(1.1);
}

.agua{
    background-image: url(/media/agua.jpg);
    background-size: 100%;
    height: 70vh;
    margin-top: 20px;
    margin-left: 11px;
    margin-right: 11px;
    @include movil{
        background-repeat: no-repeat;
        height: 20vh;
        margin-left: 0;
        margin-right: 0;
    }
}


